<% if event.participated_by?(current_user) %>
  <%=link_to "イベントの参加をやめる", event_participations_path(event.id), class: "btn btn-danger btn-lg", method: :delete, remote: true %></p>
<% elsif %>
  <% if event.capacity <= event.participations.count %>
    <button class="btn btn-danger" disabled>定員がいっぱいです</button>
  <% elsif event.start_at.strftime('%m/%d') < Date.today.strftime('%m/%d') %>
    <button class="btn btn-danger" disabled>イベントは終了しました</button>
  <% else %>
    <%=link_to "イベントに参加する", event_participations_path(event.id), class: "btn btn-primary btn-lg", method: :post, remote: true %></p>
  <% end %>
<% end %>
