<% comments.each do |comment| %>
  <% unless comment.id.nil? %>
    <p><%= link_to "#{comment.user.name}さん", user_path(comment.user.id) %></p>
    <p>コメント：<%= comment.content %></p>
    <% if current_user?(comment.user) %>
      <p><%= link_to 'コメントを削除する', event_comment_path(comment.event_id, comment.id), method: :delete, remote: true,
      data: { confirm: "You sure?" } %></p>
    <% end %>
  <% end %>
<% end %>
