<% provide(:title, @user.name) %>
<div class="tab-wrap">
  <input id="TAB-01" type="radio" name="TAB" class="tab-switch" checked="checked" /><label class="tab-label" for="TAB-01">プロフィール</label>
  <div class="tab-content">
    <%= render "tab1", { user: @user } %>
  </div>
  <input id="TAB-02" type="radio" name="TAB" class="tab-switch" /><label class="tab-label" for="TAB-02">イベント参加履歴</label>
  <div class="tab-content">
    <%= render "tab2", { participaton_events: @participaton_events, user: @user } %>
  </div>
  <input id="TAB-03" type="radio" name="TAB" class="tab-switch" /><label class="tab-label" for="TAB-03">イベント作成履歴</label>
  <div class="tab-content">
    <%= render "tab3", { user_events: @user_events } %>
  </div>
</div>
