// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

.notice {
  color: white;
  background-color: #66FF66;
  text-align: center;
}
.alert {
  color: white;
  background-color: red;
  text-align: center;
}

#map {
  height: 300px;
  width: 300px;
}

.like-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: #808080;
  margin-left: 20px;
  }

.unlike-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: #e54747;
  margin-left: 20px;
  }

.footerFixed {
  min-height: 100vh; /* ←コンテンツの高さの最小値＝ブラウザの高さに指定 */
  position: relative;/* ←相対位置 */
  padding-bottom: 60px; /* ←フッターの高さを指定 */
  box-sizing: border-box;
}

.nav-button {
  background-color: red;
  font-size: 20px;
  color: white;
  padding: 0 15px;
}

.nav-link {
  margin: 0 15px;
}

footer {
  width: 100%;
  background:#212529;
  color: #fff;
  text-align: center;
  padding-top: 20px;
  margin-top:30px;
}

table {
  display: inline-block;
  width: 100%;
  border-collapse:separate;
  border-spacing: 0;
}

table th:first-child {
  border-radius: 5px 0 0 0;
}

table th:last-child {
  border-radius: 0 5px 0 0;
  border-right: 1px solid #3c6690;
}

table th {
  text-align: center;
  color:white;
  background: linear-gradient(#829ebc,#225588);
  border-left: 1px solid #3c6690;
  border-top: 1px solid #3c6690;
  border-bottom: 1px solid #3c6690;
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
  width: 15%;
  padding: 10px 0;
}

table td {
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top:none;
  box-shadow: 0px -3px 5px 1px #eee inset;
  width: 10%;
  padding: 15px 0;
  display: table-cell;
}

table td:last-child {
  border-right: 1px solid #a8b7c5;
}

table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}

.card {
  margin-top: 20px;
}

.actions {
  text-align: center;
}

.card-button {
  margin-top: 15px;
}

.remember {
  text-align: center;
}
