<div class="field">
  <%= f.label :favorite_team %><br />
  <%= f.select :favorite_team, [["Liverpool", "Liverpool"], ["Manchester City", "Manchester City"], ["Manchester United", "Manchester United"], ["Chelsea", "Chelsea"],
  ["Leicester City", "Leicester City"], ["Tottenham Hotspur", "Tottenham Hotspur"], ["Wolverhampton Wanderers", "Wolverhampton Wanderers"], ["Arsenal", "Arsenal"], ["Sheffield United", "Sheffield United"],
  ["Burnley", "Burnley"], ["Southampton", "Southampton"], ["Everton", "Everton"], ["Newcastle United", "Newcastle United"], ["Crystal Palace", "Crystal Palace"],
  ["Brighton & Hove Albion", "Brighton & Hove Albion"], ["Brighton & Hove Albion", "Brighton & Hove Albion"], ["Aston Villa", "Aston Villa"], ["Leeds United", "Leeds United"],
  ["West Bromwich Albion", "West Bromwich Albion"], ["Fulham", "Fulham"],] ,:prompt => "選択してください", class:"form-control" %>
</div>
